.titulo {
  transform-style: preserve-3d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 70.9px rgba(0, 0, 0, 0.072), 0 6.8px 15.4px rgba(0, 0, 0, 0.01);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  background-color: floralwhite;
  box-sizing: border-box;
  padding: 20px;
  transform: rotate(6deg);
  max-width: 80%;
  max-height: 200px;
  margin: auto;
  margin-bottom: 15px;
}

nav {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #fffcdc, #c9d6ff, #22c1c3, #e2bf0e);
}
.modal-content {
  transform-style: preserve-3d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 70.9px rgba(0, 0, 0, 0.072), 0 6.8px 15.4px rgba(0, 0, 0, 0.01);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  background-color: floralwhite;
  box-sizing: border-box;
  padding: 20px;
}
.modal-body {
  background-color: floralwhite;
}
.nav-link {
  color: black;
  size: 30px;
}
