.Imgbackground_binicon,
.Imgbackground_addicon {
  font-size: 48px;
}

.Imgbackground_binicon {
  padding-top: -20rem;
}

.houseicon_Imgbackground {
  font-size: 55px;
  display: flex;
}

.settingsicon_Imgbackground {
  float: right;
  margin-top: -123px;
}

body {
  background: linear-gradient(to right, #fffcdc, #c9d6ff, #22c1c3, #e2bf0e);
}
