.settingsicon_Imgbackground {
  font-size: 40px;
}
/* .Imgbackground_buttons_info {

  border: none;
} */
.settingsicon_Imgbackground {
  color: black;
}
.houseicon_Imgbackground {
  font-size: 40px;
  color: rgb(0, 0, 0);
}

body {
  background: linear-gradient(to right, #fffcdc, #c9d6ff, #22c1c3, #e2bf0e);
}
.fondo {
  width: 100%;
  height: 400px;
}
