*{
  padding: 0;
}
.Cardimg_card {
  max-height: 30rem;
  max-width: 34rem;
  margin-top: 3rem;
}
.Cardimg_h5,
.Cardimg_ImBin {
  display: inline-block;
  font-size: 18px;
}
.Cardimg_icons {
  margin-top: -18px;
}

.Cardimg_FaHeart,
.Cardimg_GrMapLocation,
.Cardimg_BiComment {
  font-size: 20px;
}

.Cardimg_GrMapLocation {
  margin-top: 4px;
  margin-right: -10px;
}
