.cartaimg_avatar {
  float: left;
}
.cartaimg_div_header {
  background-color: rgba(255, 255, 255, 0.877);
}
.cartaimg_body {
  background-color: rgba(255, 255, 255, 0.877);
}

.cartaimg_post {
  width: 34rem;
  border: 1px solid lightgray;
  border: 1px solid lightgray;
  margin: 0;
  margin-top: 70px;
}

.cartaimg_heartcardicon,
.cartaimg_comment2cardicon,
.cartaimg_locationcardicon {
  font-size: 25px;
}

.cartaimg_post__description {
  font-weight: normal;
}
.cartaimg_div_header {
  display: flex;
  align-items: center;
}
.cartaimg_avatar {
  margin-right: 10px;
  font-size: 38px;
}
.cartaimg_img {
  width: 100%;
  height: 28rem;
}
.cartaimg_buttons_post {
  margin-top: -10px;
}
/* .cartaimg_input {
  outline: none;
  background-color: transparent;
  max-width: fit-content;
} */
