body{
    background-color: #9db5b2;
}
.configIcon{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
.cursor{
   cursor:pointer;
}
#navConfig::after{
   color: red;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #3b413c;
    background-color: #DAF0EE;
}
.nav-link{
    color:#3b413c; 
}