body {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}
.configIcon {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
.cursor {
  cursor: pointer;
}
#navConfig::after {
  color: red;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #3b413c;
  background-color: #f2f2f2;
}
.nav-link {
  color: #3b413c;
}
