#contenedor {
  background-image: url("https://images.pexels.com/photos/2017747/pexels-photo-2017747.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
}
.logs {
  display: flex;
  justify-content: flex-end;
  top: 0;
}
.icon {
  font-size: 35px;
}
