.form {

  text-align: center;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0% 55%;
  background-size: cover;
  min-height: 700px;
  background-image: url("https://images.pexels.com/photos/163550/landscape-scenic-going-to-the-sun-road-rocky-mountains-163550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.inp {
  margin-left: 525px;
  border-radius: 15px;
  width: 20%;
  text-align: center;
  background-color: #c5ff8d;
  font-size: 20px;
  color: black;
  margin: auto;
}

.reg6 {

  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  background-color: #cee741;
  width: 20%;
  margin: auto;
}
.button-47 {
  margin: auto;
  background-color: #c5ff8d;
  color: black;
  border-radius: 15px;
}
