.form {
  text-align: center;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0% 55%;
  background-size: cover;
  min-height: 700px;
  background-image: url("https://images.pexels.com/photos/163550/landscape-scenic-going-to-the-sun-road-rocky-mountains-163550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.inp {
  border: none;
  border-radius: 15px;
  width: 25%;
  text-align: center;
  background-color: #c5ff8d;
  font-size: 25px;
  color: black;
  
}

.reg6 {
  font-size: 35px;
  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  background-color: #cee741;
  width: 35%;
  margin: auto;
  
}

.button-47 {
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #c5ff8d;
  color: black;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  width: 17%;
  height: 15%;
  box-shadow: 7px 5px 56px -14px #0d0e0d;
}

