.regis4 {
  background-color: #c5ff8d;
  border-color: #47af20;
  color: #47af20;
  font-size: 15px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 9px;
  background: #d5f365;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.card-title {
  color: #47af20;
}
.card-text {
  text-decoration: solid;
}

.hotel {
  height: 300px;
  
}
.imagen {
  min-height: 300px;
  object-fit: cover;
}
.under {
  
  background-color: #47af20;
  background-position: 55% 10%;
  background-size: cover;
  height: 5px;
  width: 50%;
}
a{
  color: black;
}
