.seccion5 {
  top: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0% 55%;
  background-size: cover;
  min-height: 700px;
  background-image: url("https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.text1,
.text2,
.text3 {
  margin-top: 120px !important;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  background-color: #cee741;
  width: 40%;
  margin: auto;
}

.text2 {
  margin-top: 40px;
}
