button {
  background-color: #ada996;
  color: #daf0ee;
}
.accordion-body {
  background: white;
}
.accordion-item {
  border: none;
}
.accordion-item .accordion-button {
  background-color: white;
  color: #3b413c;
}

.btn:active .btn:hover {
  background-color: orange;
}
