.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  margin: auto;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  transform-style: preserve-3d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 70.9px rgba(0, 0, 0, 0.072), 0 6.8px 15.4px rgba(0, 0, 0, 0.01);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  background-color: floralwhite;
  box-sizing: border-box;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}
.carousel-item {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
