.icon_activitifeed {
  font-size: 50px;
  float: right;
  padding: 0px;
  justify-content: end;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
}

.icon_activitifeed:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.7, 1.7);
}
.activities_feed {
  margin-top: 6rem;
}
.Activitiesfeed_h2 {
  margin-right: -47px;
}
