.post_card {
  max-width: 35rem;
  max-height: 50rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.post_icons {
  margin-top: -18px;
}
.post_h5,
.post_ImBin {
  display: inline-block;
}

.post_BiComment,
.post_FaHeart,
.post_GrMapLocation {
  font-size: 25px;
}
.post_FaHeart,
.post__description_h5 {
  margin-left: -18px;
}
.post_GrMapLocation {
  margin-right: -18px;
  margin-top: 3px;
}
