.post___avatar {
  margin-left: 6px;
  font-size: 38px;
  float: left;
}
.card__header {
  background-color: rgba(255, 255, 255, 0.877);
}
.card__body {
  background-color: rgba(255, 255, 255, 0.877);
}

.post__feed {
  margin-top: 6rem;
  width: 41rem;
  border: 1px solid lightgray;
  padding: 0;
}

.heartcard_icon,
.comment2card_icon,
.sendcard_icon,
.locationcard_icon {
  font-size: 25px;
}

.post___description {
  font-weight: normal;
  padding-top: 6px;
}
.card__header {
  display: flex;
  align-items: center;
  padding: 7px;
}
.post___img {
  width: 100%;
  height: 30rem;
}
.post_f {
  margin-top: 0rem;
}
