.icon_Sitesfeed {
  font-size: 50px;
  float: right;
  padding: 0px;
  justify-content: end;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
}

.icon_Sitesfeed:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.7, 1.7);
}
.Sitesfeed {
  margin-top: 6rem;
  margin-left: -3rem;
}
.Sitesfeed_h2 {
  margin-left: 40px;
}
