@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Dongle:wght@300&family=Playfair+Display:wght@500&family=Roboto&family=The+Nautigal&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #ebc403; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #22c1c3,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffcdc,
    #c9d6ff,
    #22c1c3,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  max-width: 700px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
.titulo {
  transform-style: preserve-3d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 70.9px rgba(0, 0, 0, 0.072), 0 6.8px 15.4px rgba(0, 0, 0, 0.01);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  background-color: floralwhite;
  box-sizing: border-box;
  padding: 15px;
  transform: rotate(10deg);
  max-width: 70%;
  max-height: 100px;
  margin: auto;
  border-radius: 10px;
  z-index: 10;
}
